.ItemImg{
    width: 200px;
    display: flex;
    object-fit: contain;
    margin-right: 10px;
}

.nombreArticulo{
    font-size: 20px;
    margin: 20px;
    display: flex;
}
.Detalle{
    text-decoration: none;
    color: black;
    text-align: center;

}

